/* 

Add here your custom css styles Example: p { text-align: center; color: red; } 

*/



/* css for the toggle button on password */
.wow_form_fields .password-field {
    position: relative;
}

.wow_form_fields .password-field input[type="password"] {
    padding-right: 40px; /* Adjust this value to create space for the button */
    background-color: #fff; /* Set the background color to white */
}

.wow_form_fields .password-field button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px; /* Adjust this value to match the desired width of the button */
    background-color: #fff; /* Set the background color to white */
    border: none;
    outline: none;
    color: #000; /* Set the color of the icon to black */
    border-radius: 5px;
}


/* Find Friend */

#find-friend {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    transition: all .2s ease;
    color: #050505;
    max-width: 100%;
    text-decoration: none;
    gap: 10px;
}